* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  height: 10vh;
  display: flex;
  box-shadow: 0.1px 0.1px 0px 0px #6c757d;
}
.logo {
  position: absolute;
  margin: 15px;
}
.logo a {
  text-decoration: none;
  font-size: 19px;
  font-family: sans-serif;
  align-items: center;
}
.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
.nav-links li a {
  color: #6c757d;
  text-decoration: none;
  font-size: 19px;
  font-family: sans-serif;
}

/* media query */

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 15%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .hamburger::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: rgb(102, 102, 233);
    transform: translateY(-10px);
    transition: 0.2s;
    box-shadow: 0 10px 0 rgb(102, 102, 233);
  }
  .hamburger.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0px 0 rgb(102, 102, 233);
    transition: all 0.4s ease;
  }
  .hamburger::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: rgb(102, 102, 233);
    transform: translateY(10px);
  }
  .hamburger.active::after {
    transform: translateY(0px) rotate(-45deg);
    transition: all 0.4s ease;
  }
  .nav-links {
    position: fixed;
    background-color: #f9ca24;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.9s;
  }
  .line:nth-child(1) {
    top: 0;
    transform: rotate(45deg);
  }
  .line:nth-child(2) {
    top: 0;
    opacity: 0;
  }
  .line:nth-child(3) {
    top: 0;
    transform: rotate(-45deg);
  }
  li.fade {
    opacity: 1;
  }
}
